/******* IMPORTS *********/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/******* VARIABLES *********/
:root {
    --main-text-color: black;
    --main-accent-color: #E7C7FF;
    --main-color: #BAC2FF;
    --main-bg-color: #fefefe;
}

/******* GLOBAL STYLES *********/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana, sans-serif;
    color: var(--main-text-color)
}
body{
    background-color: var(--main-bg-color);
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.btn {
    border: none;
    border-radius: 15px;
    color: var(--main-bg-color);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
}

.btn:hover {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    cursor: pointer;
    border: 0.5px solid var(--main-color);
}

/******* NAVIGATION STYLES *********/

.logo {

    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo img {
    height: 4rem;
}
.logo label {
    color: var(--main-text-color);
    font-size: 48px;
    font-weight: normal;
}
.hamburger {
    display: none;
}
.navbar ul {
    display: flex;
}
.navbar ul li a {
    display: block;
    color: var(--main-text-color);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: var(--main-accent-color);
    background-color: var(--main-bg-color);
    font-weight: bold;
}

/******* PAGE CONTENT STYLES *********/
/* Viewport */
.viewport {
    /* background-color: #E7C7FF; */
    height: 100vh;
    padding: 40px 120px 0;
}
.title-bar {
    display: block;
    height: 154px;
    background-color: #BAC2FF;
    width: 100%;
    border-radius: 25px;
}
.title-bar-title{
    text-align: center;
    line-height: 154px;
    vertical-align: middle;
}
.search-bar {
    position: relative;
    bottom: calc(45px/2);
    text-align: center;
}
.search-bar input {
    box-sizing: border-box;
    width: 336px;
    height: 45px;
    padding: 0 1.5rem;
    border-radius: 12px;
    border: none;
    filter: drop-shadow(0 4px 6px rgb(0, 0, 0, 25%));
}
.topics {
    text-align: center;
}
.topics-items {
    display: flex;
    justify-content: space-between;
}
.topics-items li a {
    display: block;
    width: 130px;
    color: var(--main-text-color);
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
}
.active-tab {
    background-color: var(--main-accent-color);
    width: 100%;
    border-radius: 25px;
}

.main-article {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.main-article img {
    width: 481px;
    height: 312px;
    border-radius: 25px;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.article {
    width: 300px;
    height: 400px;
    margin-top: 3rem;
}
.article img {
    width: 100%;
    height: 236px;
    border-radius: 25px;
}
.article p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.article-topic{
    color: var(--main-accent-color);
    font-weight: 600;
    margin: 1rem 0 0;
}
.article-title {
    margin: 1rem 0 0;
}

.article-author {
    display: flex;
    margin: 1rem 0 0;
}
.article-author img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0.5px solid #fefefe;
}
.article-author div {
    text-align: center;
    margin-left: 11px;
    height: 48px;
    vertical-align: middle;
}
.author-name {
    font-weight: 600;
    text-align: start;
}
.article-date {
    text-align: start;
}

/******* RESPONSIVE STYLES *********/

@media only screen and (max-width: 856px) {
    
    header {
        padding: 0 60px;
    }
    .viewport {
        padding: 35px 60px;
    }
    
    /******* RESPONSIVE NAV STYLES *********/
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 4px;
        background: var(--main-accent-color);
        margin: 6px 0;
    }
    .navbar {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0px;
        background: var(--main-bg-color);
        transition: 0.5s;
        overflow: hidden;
    }
    .navbar.active {
        height: 300px;
        z-index: 1;
    }
    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar.active ul {
        opacity: 1;
    }
    .navbar ul li a {
        margin-bottom: 12px;
    }
    /******* RESPONSIVE PAGE CONTENT STYLES *********/
    /* Viewport */
    .title-bar {
        height: 110px;
    }
    .title-bar-title{
        line-height: 110px;
    }
    .main-article {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0 30px;
    }
    .viewport {
        padding: 30px 30px 0;
    }
    /******* RESPONSIVE NAV STYLES *********/
    .logo label {
        display: none;
    }
    /******* PAGE CONTENT STYLES *********/
    /* Viewport */
    .title-bar{
        height: 90px;
    }
    .title-bar-title{
        text-align: center;
        line-height: normal;
    }
    .search-bar {
        position: relative;
        bottom: 55px;
        text-align: center;
    }
    .search-bar input {
        width: 85%;
    }
    .topics {
        display: none;
    }
    .main-article {
        display: none;
    }
}